josh/static/nogo*
yt-dl/node_modules
*__pycache__*
*.venv*
.gitignore
*activate
gptbot/big.txt
gptbot/public/nicepage.css
.env
gptbot/sessions.json
env.py
geckodriver.log
*/node_modules
package-lock.json
cookies.txt
shit/*
